*{

margin: 0;
    padding: 0;
}
.head{
    text-align: center;
}
.title{
    text-align: center;
}
#cards {

    display: flex;
    flex-wrap:wrap;
justify-content: space-around;
}
.card{

  padding: 2%;
    width: 20%;
    margin-top: 10px;
    text-align: center;
    padding-top: 3%;
}
.images{
    box-shadow: 22px 22px 15px -3px rgba(0,0,0,0.75);
    width: 50%;

}
.images:hover{
    width: 51%;

}
.Description{
    margin-top: 16%;
    padding: 3%;
    font-family: Georgia;
}
.category{
    padding:2%;
    font-weight: bold;
    font-family: Georgia;
}
.price{
    font-weight: bold;
    padding: 4%;
    font-family: Georgia;
}


